<mat-card>
  <form [formGroup]="form" (submit)="onSavePost()">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="Post Title"
        >

    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        formControlName="content"
        placeholder="Post Content"
        ></textarea>

    </mat-form-field>
    <div>
      <input type="file"
             style="visibility: hidden;"
             #filepicker >
      <button mat-stroked-button
              type="button"
              (click)="filepicker.click()"
              >Image
      </button>
    </div>
      <button
          mat-raised-button
          type="submit"
          color="red"
          >Save Post</button>
  </form>
</mat-card>


