textarea,
mat-form-field
{
  width: 100%;
}

mat-spinner{
  margin: auto;
}

mat-card{
  border-radius: 9px;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

input[type="file"] {
  visibility: hidden;
}




