

<mat-card>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm" >
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        [ngModel]="post?.title"
        required
        placeholder="Post Title"
        #title="ngModel">
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="content"
        [ngModel]="post?.content"
        required
        placeholder="Post Content"
        #content="ngModel"></textarea>
    </mat-form-field>
      <button
          mat-raised-button
          type="submit"
          color="red"
          >Save Post</button>
  </form>
</mat-card>

