ul{
  list-style: none;
  padding: 0%;
  margin: 0%;

}

a,p{
  text-decoration: none;
  color: white;
}
mat-toolbar{
  background:transparent;
}
:host{
  display: block;
  margin-top: 1rem;
}

.info-text{
  text-align: center;
}
textarea,
mat-form-field
{
  width: 100%;
}

mat-spinner{
  margin: auto;
}

mat-card{
  border-radius: 9px;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

input[type="file"] {
  visibility: hidden;
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}



