:host{
  display: block;
  margin-top: 1rem;
}

.info-text{
  text-align: center;
}



mat-expansion-panel-header,
mat-expansion-panel
{
  border-radius: 9px;
  margin: 3px;
}

.post-image{
  width: 40%;
}

.post-image img{
  width: 40%;
  box-shadow: 1px 1px 5px rgb(240, 183, 28);
}

mat-paginator {
  margin: 1rem ;
  border-radius: 9px;
}


