<!-- <div>
  <div class="neu">
    <div class="header">
      Messages
    </div>
    <nav class="menu">
        <ul>
          <li><i class="fa fa-home"></i><a routerLink="/">MyMessage</a></li>
          <li><i class="fa fa-info-circle" ></i> <a routerLink="/create">New Post</a></li>
        </ul>
    </nav>
  </div>
</div> -->

<mat-toolbar>
  <span>
    <a routerLink="/">MyMessage</a>
  </span>
  <span style="flex: 1 1 auto;"></span>
  <ul>
    <li>
      <a mat-button routerLinkActive="mat-accent" routerLink="/create">New Post</a>
    </li>
  </ul>
</mat-toolbar>
